params {
    reference_vcf = null
    genetic_map = null 
    bam = null
    // concordance_list = 'path/to/concordance.lst'
}


// Load base.config by default for all pipelines
includeConfig 'conf/base.config'

process.container = 'quay.io/biocontainers/glimpse2:2.0.0--h1d875f4_0'

profiles {

    }
    docker {
        enabled = true
    }

    // -profile test
    test {
        includeConfig "${baseDir}/config/test.config"
    }

}