params {
    reference_vcf = null
    genetic_map = null 
    bam = null
    // concordance_list = 'path/to/concordance.lst'
}


// Load base.config by default for all pipelines
includeConfig "${baseDir}/config/base.config"

process.container = 'simrub/glimpse:v2.0.0-27-g0919952_20221207'

profiles {

    docker {
        docker.enabled = true
    }

    test {
        includeConfig "${baseDir}/config/test.config"
    }

}